.table-data {
    margin: 0 !important;
    padding: .5rem;
}

.column-data:nth-child(odd) {
    background-color: #dee7e5;
}

.table-data div p {
    margin: 0 !important;
    padding-top: .5rem;
}

.column-data-section {
	display: block;
}
