{% extends 'layouts/base.html' %} {% import 'macros/common.html' as common with context %}

{% block title %}{{ config['EXTRA_TAB'] }}{% endblock %}

{% block nav %}

<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="/extra">{{ config['EXTRA_TAB'] }}</a></li>

{% endblock %} 

{% block body %}

<div class="text-center">
    <h2>OOPS, this page is empty. But you can help me display 
        some data here if you create a valid {{ filename }} file, see the <a href="https://github.com/Wikia/discrETLy">docs</a>.</h2>
</div>

{% endblock %}