- name: 'The best Athena dashboard ;)'
  url: 'https://github.com/Wikia/discreETLy'
- name: 'Sroka - Python library for API access and data analysis in Product, BI, Revenue Operations (GAM, GA, Athena etc.)'
  url: 'hhttps://github.com/Wikia/sroka'